<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <!-- HTTP basic authentication in Spring Security -->
    <http>
        <intercept-url pattern="/create*" access="ROLE_USER" />
        <intercept-url pattern="/edit*" access="ROLE_USER" />
        <intercept-url pattern="/delete*" access="ROLE_USER" />
        <http-basic />
    </http>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="boneCPDataSource"
                               users-by-username-query=
                                       "select username,password, enabled from users where username=?"
                               authorities-by-username-query=
                                       "select username, role from user_roles where username =?  " />
        </authentication-provider>
    </authentication-manager>

</beans:beans>