<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>computer-database</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.excilys.servlet.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComputerServlet</display-name>
    <servlet-name>AddComputerServlet</servlet-name>
    <servlet-class>com.excilys.servlet.AddComputerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComputerServlet</servlet-name>
    <url-pattern>/addComputer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditComputerServlet</display-name>
    <servlet-name>EditComputerServlet</servlet-name>
    <servlet-class>com.excilys.servlet.EditComputerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditComputerServlet</servlet-name>
    <url-pattern>/editComputer</url-pattern>
  </servlet-mapping>
</web-app>